<h1>Your Orders</h1>

<div class="list-group">
    <% @orders.each do |order| %>
        <%= link_to "Order Date: #{order.created_at}", order_path(order.id), class: "list-group-item list-group-item-action" %>
    <% end %>
</div>
