<h1>Sports Cards</h1>

<% if @cards.empty? %>
    <p>There are no posts</p>
<% else %>
    <div class="row">
        <% @cards.each do |card| %>
            <%= render partial: 'card', locals: { card: card } %>
        <% end %>
    </div>


<% end %>
