<%= render partial: 'shared/cart', locals: {cart: @cart} %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="No Image">
  <div class="card-body">
    <h5 class="card-title"><%= @card.player.name %></h5>
  </div>
</div>
