<% props = jbuild_props('shared/card.json.jbuilder', card: @card) %>
<%= react_component "Card", props %>



<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="No Image">
  <div class="card-body">
    <h5 class="card-title"><%= @card.player.name %></h5>
  </div>
</div>
